.AddBook {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 50px;
}

.add-head {
  color: #898989;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.add-new-book {
  display: flex;
  gap: 30px;
}

.input {
  border: 2px solid #f1f1f1;
  background: #fff;
  font-size: 16px;
  padding: 10px;
  color: #807e7e;
  border-radius: 5px;
  width: 60%;
}

.select {
  width: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  color: #807e7e;
}

.submit-btn {
  border: none;
  background: #0290ff;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 15%;
}